.body{
    color: #A9A9B3 ;
    background-color:rgb(28, 25, 25);
}
.header_img{
    align-items: center;
    align-self: center;
    display: flex;
    height: 450px;
    width:350px;
}
.header_img img:hover{
    transform:scale(1.1);
   transition: ease-in-out;
   box-shadow: 3px 4px 5px  rgb(37, 23, 23);
   margin-bottom: 20px;
}

h1{
    color: #A9A9B3 ;
    text-shadow: 4px 5px 6px rgb(148, 0, 0);
}
h1:hover{
    color:#9c0000;
    font-weight:bold;
    text-shadow: 0px 5px 4px #A9A9B3;
}

.computer img{
    /* border: 3px solid red; */
    width: fit-content;
}

.post-content p{text-align:justify;word-wrap:break-word}

.contact-info a{
    text-decoration: none;
    color: #ffffff ;
    background-color:rgb(24, 21, 21);
    padding:10px;
}

.contact-info a:hover{
    text-decoration: none;
    background-color:rgba(54, 5, 5, 0.432);

    color: #A9A9B3 ;
}

.syllabus img {
    width: 100%;
    border: 4px solid rgb(88, 68, 68);
}

.contact-info